a {
    border-right: 2px solid rgb(52, 52, 117);
margin-right: 10px;
padding-right: 10px;
}

img {
    width: 400px;
    height: 200px;
}
table {
    border-collapse: collapse;
    border-color: rgb(24, 7, 116);
    color:
}
th , td {
    width: 300px;
    text-align: start
}

th {
    background-color: rgb(3, 15, 80);
    color: rgb(234, 219, 5);
}